/* normalize */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    background: transparent;
}

a {
    text-decoration: none;
}

/* main styles */

* {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

button {

    cursor: pointer;
    border: none;
    color: white;
}

.hidden {
    display: none;
}

.bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* Page 1 */
.header_container {
    background-image: url('../images/bg-1.webp');
    background-color: rgba(0, 0, 0, 0.31);
    background-blend-mode: overlay;
}

.header-content {
    max-width: 1921px;
    margin: 0 auto;
    position: relative;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.header img {
    width: 185px;
    height: 68px;
}

.menu-btn {
    display: none;
}

.header-icons button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 22px;
}

.nav {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav a {
    padding: 10px;
}

.nav a,
.social-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.header_content {
    margin-top: 160px;
    max-width: 700px;
    margin-left: 300px;
}

.header_content h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: white;
    font-size: 120px;
    padding-bottom: 20px;
}

.social-bar {
    position: absolute;
    bottom: 0%;
    left: 4%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: left center;
    display: flex;
    gap: 2rem;
    white-space: nowrap;
    padding-left: 1rem;
}

.social-info-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 6rem;
    padding-left: 42%;
}

.info-video-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.info-cards {
    display: flex;
    background: #000000a3;
    width: 100%;
    align-items: center;
    padding-right: 10px;
}


.card-number {
    color: #DD2242;
    font-size: 16px;
    font-family: "Roboto";
}

.card {
    padding-left: 43px;
    width: 100%;
}

.card h3 {
    font-size: 26px;
    color: white;
    padding-top: 10px;
}

.card p {
    color: #939393;
    font-size: 18px;
    font-family: "DM Sans";
}

.video-preview {
    position: relative;
    width: 100%;
    max-width: 400px;
    max-height: 244px;
    aspect-ratio: 16 / 9;
    flex-shrink: 0;
}

.video-preview .iframe-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.video-preview .iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.video-preview img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.play-button--white {
    background: white;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.play-button--white .arrow {
    display: block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid black;
}

/* Page 2 */

.walkways {
    width: 100%;
    height: auto;
    background-image: url('../images/bg-sect-2.1.webp');
    background-color: rgba(1, 10, 32, 0.9);

}

.walkways .content {
    background: linear-gradient(rgba(1, 10, 32, 0), rgba(1, 10, 32, 1));
    padding: 200px 0 80px 0;
}

.content {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 113px;
}

.wrapper-bg {
    background-color: rgba(1, 10, 32, 1);
}

.beaches {
    width: 100%;
    background-image: url('../images/bg-sect-2.2.webp');
    background-color: rgba(1, 10, 32, 0.9);
}

.beaches .content {
    padding: 80px 0 200px 0;
    background: linear-gradient(rgba(1, 10, 32, 1), rgba(1, 10, 32, 0));
}

.image {
    max-width: 630px;
    border-radius: 10px;
}

.image img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
}

.text-content {
    max-width: 450px;
}

.text-content h2 {
    color: white;
    font-size: 42px;
}

.text-content p,
.full-text p {
    font-weight: 400;
    font-size: 18px;
    color: white;
    padding: 25px 0 25px 0;
}

.btn {
    padding: 20px;
    background-color: #DD2242;
    font-size: 18px;
    width: 180px;
    border-radius: 40px;
    text-align: center;
}

/* Page 4 */

.explore {
    background: url('../images/bg-sect-3.webp');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;

}

.explore h1 {
    font-size: 50px;
    line-height: 150%;
    padding-top: 1.5em;
    text-align: center;
}


#about .slider-container .swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: -40px;

}

#about .slider-container .swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: -40px;
}

.swiper-button-prev {
    left: -40px;
    color: #1a1a1a !important;
}

.swiper-button-next {
    color: #1a1a1a !important;
}

.swiper-pagination-bullet {
    width: 11px !important;
    height: 11px !important;
}

.swiper-pagination-bullet-active {
    background: #dd2242 !important;
    ;
}

.slider-container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 30px 17px 60px;
}

.by_the_numbers {
    display: flex;
    justify-content: center;
    background-color: rgba(2, 12, 33, 1);
    opacity: 0.9;
    padding-bottom: 9rem;
    margin-top: 50%;
}

.numbers-wrapper {
    color: white;
    max-width: 80rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.by_the_numbers h3 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.by_the_numbers p {
    font-weight: 400;
    font-size: 18px;

}

.by_the_numbers-first {
    text-align: center;
    margin-top: 180px;
    width: 100%;
    max-width: 30.25rem;
    margin-bottom: 4rem;
}

.by_the_numbers-second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
    padding-bottom: 1.6rem;
}

.by_the_numbers-second>div {
    max-width: 23rem;
}

.by_the_numbers-second h4 {
    font-size: 42.14px;
    color: rgba(221, 34, 66, 1);
    padding-bottom: 2rem;
}

/* Page 4 */

.hills_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.hills_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15em;
    padding-bottom: 15em;
    width: 38.3rem;
    z-index: 1;
}

.hills_content h3 {
    font-size: 42px;
    line-height: 50px;
    padding-bottom: 2rem;
    text-align: center;
}

.hills_text {
    width: 29.3rem;
    padding-bottom: 2rem;
}

.hills_content p {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5%;
    color: rgba(111, 119, 135, 1);
}

.hills_container::before,
.hills_container::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
}

.hills_container::before {
    width: 100%;
    left: 0;
    background-image: url('../images/bg-sect-4.1.webp');
}

.hills_container::after {
    width: 37%;
    right: 0;
    background-position: right bottom;
    background-image: url('../images/bg-sect-4.2.webp');
}

/* Page 5 */

.video_container {
    background: url('../images/bg-sect-5.webp');
    background-color: rgba(2, 12, 33, 23.5);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video_container h3 {
    color: white;
    font-size: 42px;
    line-height: 50px;
    padding: 10rem 5rem 5rem 5rem;
    width: 60%;
    text-align: center;
}

.big-video-wrapper {
    width: 70%;
    margin: 0 auto;
}

.big-video-preview img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
    max-height: 520px;
    object-fit: contain;

}

.big-video-preview {
    position: relative;
    z-index: 1;
}

.iframe-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-wrapper iframe {
    width: 100%;
    max-width: 960px;
    height: 540px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.play-button:not(.play-button--white) {
    background: url('../images/video-icon-big.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 6rem;
    z-index: 10;
}

.small-video-wrapper {
    display: flex;
    gap: 7rem;
    max-width: 1285px;
    padding: 6rem 0 10rem;
}

.small-video {
    display: flex;
}

.small-info {
    padding-left: 2rem;
}

.small-video img {
    max-width: 100%;
    max-height: 175px;
    height: 100%;
    min-width: 310px;
    border-radius: 10px;
}

.small-info h4 {
    font-size: 18px;
    color: white;
    padding-bottom: 1.5rem;
}

.small-info p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: white;
}

/* Page 6 */

.gallery_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery_container h2 {
    font-size: 60px;
    line-height: 150%;
    padding-top: 5vw;
    padding-bottom: 2vw;
}

.gallery_container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1%;
    color: rgba(111, 119, 135, 1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3vw;
    padding-bottom: 5vw;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.photo6 {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
}

.photo5 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.photo4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.photo3 {
    grid-column: 2 / 3;
    grid-row: 2 / span 2;
}

.photo2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.photo1 {
    grid-column: 3 / 4;
    grid-row: 2 / span 2;
}


/* Page 7 */
.timeline_container {
    background-color: rgba(220, 232, 242, 1);
}

.timeline_wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.timeline_container h2 {
    font-size: 60px;
    line-height: 150%;
    color: rgba(1, 10, 32, 1);
    text-align: left;
    padding-top: 5vw;
    padding-left: 1vw;
}

.line_wrapper {
    padding-left: 19px;
}

.line {
    border-left: 2px solid rgba(21, 20, 57, 0.4);
    position: absolute;
    height: 63%;
    top: 68px;
    bottom: 0;
    left: 50px;
    z-index: 0;

}

.timeline {
    margin: 0 auto;
    max-width: 900px;
    padding: 2vw 0.8vw 2vw 0;
    position: relative;
}

.timeline_content h4 {
    font-size: 26.41px;
    line-height: 41.08px;
    margin-left: 3rem;
    padding-bottom: 1vw;
}

.timeline_content p {
    font-weight: 400;
    font-size: 23.47px;
    line-height: 38.15px;
    margin-left: 3rem;
    color: rgba(21, 20, 57, 0.648);
}

.toggle-text {
    display: none;
}

.step {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 3rem;
}

.circle {
    width: 58.69px;
    height: 58.69px;
    background-color: rgba(221, 34, 66, 1);
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 56px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    flex-grow: 0;
}

.substep {
    display: flex;
    gap: 1rem;
    margin-top: 3vw;
    margin-bottom: 2vw;
}

.substep img {
    width: 248px;
    height: auto;
    border-radius: 8px;
    margin-left: 3rem;
}

.substep_content {
    display: flex;
    flex-direction: column;
}

.step .btn {
    margin-top: 2vw;
}

/* Footer */

.footer {
    background-color: rgba(1, 10, 32, 1);
    color: white;
    position: relative;
    padding: 2.5rem 1.25rem;
}

.footer_container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 3rem;
}

.footer_left {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.logo {
    width: 10rem;
}

.footer_nav {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_nav a {
    text-decoration: none;
    color: white;
}

.footer_right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    text-align: right;
}

.footer_right p,
.footer_nav a {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin: 0;
}

.social_media {
    display: flex;
    gap: 1.5rem;
    cursor: pointer;
}

.social_media img {
    width: 1rem;
    height: 1rem;
}

.footer_nav li:hover,
.social_media img:hover {
    transform: scale(1.3);
}

.scroll-top {
    position: absolute;
    top: -2rem;
    right: 2rem;
    width: 3.75rem;
    height: 3.75rem;
    background-color: rgba(221, 34, 66, 1);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-top img {
    width: 45%;
}

.big-video-preview img {
    border-radius: 10px;
}


@media(max-width: 1700px) {

    /* Page 1 */

    /* .header {
        gap: 50px;
    } */

    .header_content {
        margin-left: 22px;
        width: 70%;
    }

    .header_content h1 {
        padding-bottom: 20px;
    }

    .social-info-wrapper {
        padding-left: 0;
    }

    .info-video-wrapper {
        padding: 10px;
        width: 85%;
    }

    .card {
        padding-left: 10px;
        padding-right: 20px;
    }

    .info-cards {
        width: 70%;
        align-items: center;

    }

    .card p {
        font-size: 14px;
    }

    .card h3 {
        font-size: 20px;
    }

    .by_the_numbers {
        margin-top: 74%;
    }


    /* Page 5  */

    .small-video-wrapper,
    .small-video {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .small-video-wrapper {
        width: 60%;
    }

    .small-info {
        text-align: center;
        padding-top: 2rem;
    }

    .small-video img,
    .big-video-preview img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        max-width: 100%;
        max-height: 100%;
        min-width: 250px;
    }

    .small-video-wrapper {
        width: 100%;
    }

    .video_container {
        padding: 0 20px;
    }

    .big-video-wrapper {
        width: 100%;
    }

    .small-info {
        padding-left: 0;
        padding-top: 10px;
    }

    .small-video-wrapper {
        gap: 40px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .small-video {
        flex-direction: column;
        width: 100%;

    }

    .small-video img {
        width: 100%;
    }

}


@media(max-width: 1024px) {

    /* Page 1 */

    .nav a {
        font-size: 14px;
        gap: 20px;
    }

    .left_group {
        gap: 0;
    }

    /* .header_logo {
        margin-right: 0;
    } */

    .social-bar {
        display: none;
    }

    .info-video-wrapper {
        width: 100%;
    }

    .by_the_numbers {
        margin-top: 150%;
    }
}

@media(max-width: 768px) {

    /* Page 1 */

    .header_container {
        background-image: url('../images/bg-1-mediaPhones.webp');
    }

    .nav {
        display: none;
    }

    .nav.nav--active {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgba(0, 0, 0, 0.708);
        padding: 20px;
        gap: 20px;
        z-index: 100;
        width: 100%;
        margin-top: 30px;
    }

    .header-wrapper.menu-open .header_content {
        margin-top: 300px;
    }

    .menu-btn {
        display: block;
    }

    .header {
        position: relative;
    }

    .header img {
        width: 148px;
        height: 59px;
    }

    .header_content {
        margin-top: 20px;
        margin-left: 7px;
        width: 100%;
        padding: 20px;
    }

    .header_content h1 {
        font-size: 43px;
    }

    .social-info-wrapper,
    .info-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-cards {
        gap: 30px;
        width: 100%;
    }

    .card-number {
        padding-top: 10px;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .card h3 {
        padding-bottom: 10px;
    }

    .social-info-wrapper {
        gap: 10px;
        width: 90%;
        margin: 0 auto;
        padding-top: 0;
        padding-left: 0;
    }


    .info-video-wrapper {
        flex-direction: column;
        width: 100%;
        padding-bottom: 50px;
        gap: 10px;
    }

    .video-preview {
        width: 100%;
        max-width: none;
        max-height: none;
        aspect-ratio: 16 / 9;
    }


    /* Page 2 */

    .walkways,
    .beaches,
    .content {
        max-height: none;
        height: auto;
    }

    .walkways .content,
    .beaches .content {
        padding: 30px;
        gap: 30px;
    }

    .beaches>.content .image {
        padding-top: 0;
    }

    .image,
    .image img,
    .text-content {
        max-width: 100%;
        width: 100%;
    }

    .content {
        flex-direction: column;
        position: relative;
    }

    .text-content h2 {
        font-size: 40px;
        line-height: 46px;
    }

    .text-content p,
    .full-text p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }


    .beaches>.content .image {
        order: 1;
    }

    .beaches>.content .text-content {
        order: 2;
    }

    .btn {
        width: 100%;
        display: block;
    }

    /* Page 3  */

    .explore {
        background-position: center -300px;
    }

    .explore h1 {
        font-size: 40px;
        line-height: 46px;
        text-align: center;
    }

    .slide {
        width: 100%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 70%;
    }

    .numbers-wrapper {
        max-width: 83em;
    }

    .by_the_numbers {
        margin-top: 500px;
        padding-bottom: 7vw;
    }

    .by_the_numbers-first {
        margin-top: 61px;
    }

    /* Page 4 */

    .hills_content h3 {
        font-size: 40px;
    }

    .hills_content {
        padding: 29vw 19vw;
        width: 100%;
    }

    .hills_text {
        width: 85%;
    }

    .hills_container::before {
        background-image: url('../images/bg-sect-4.1-media.webp');
        background-position: top left;
    }

    .hills_container::after {
        background-image: url('../images/bg-sect-4.2-media.webp');
        width: 100%;
    }

    /* Page 5 */

    .small-video-wrapper {
        gap: 40px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .small-video img {
        max-height: 100%;
        width: 100%;
    }

    .video_container h3 {
        width: 100%;

    }

    .video_container {
        padding: 20px;
    }


    .play-button {
        width: 4rem;
    }

    /* Page 6 */

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding: 20px;

        grid-template-areas:
            "photo6 photo5"
            "photo6 photo3"
            "photo4 photo3"
            "photo1 photo2 "
    }

    .photo6 {
        grid-area: photo6;
    }

    .photo5 {
        grid-area: photo5;
    }

    .photo4 {
        grid-area: photo4;
    }

    .photo3 {
        grid-area: photo3;
    }

    .photo2 {
        grid-area: photo2;
    }

    .photo1 {
        grid-area: photo1;
    }

    .gallery_container h2 {
        padding: 8vw 2vw;
    }

    .gallery_container p {
        padding: 0 6vw 0;
        text-align: center;
    }

    /* Page 7 */

    .line {
        display: none;
    }

    .timeline_wrapper,
    .timeline,
    .line_wrapper {
        width: 100%;
    }

    .timeline_wrapper {
        padding-bottom: 3rem;
    }

    .line_wrapper {
        padding: 0 2rem;
    }

    .timeline_container h2 {
        font-size: 50px;
        line-height: 46px;
        text-align: center;
        padding: 5rem 0 3rem 0;
    }

    .step {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .dynamic-text {
        text-align: center;
    }

    .timeline_content p {
        margin-left: 0;
    }

    .circle {
        width: 6rem;
        height: 6rem;
        line-height: 6rem;
        font-size: 40px;
        font-weight: normal;
    }

    .timeline_content h4 {
        text-align: center;
        margin-left: 0;
    }

    .substep {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .substep img {
        width: 500px;
        margin-left: 0;
    }

    .substep_content p {
        margin-left: 0;
    }

    .toggle-text {
        display: block;
        text-decoration: underline;
        cursor: pointer;
        color: rgba(221, 34, 66, 1);
        font-size: 22px;
        text-align: center;
        line-height: 24px;
        padding-top: 1rem;
    }

    .step .btn {
        display: none;
    }

    /* Footer */

    .footer_container,
    .footer_left,
    .footer_nav,
    .footer_right {
        flex-direction: column;
    }

    .footer_container {
        padding-top: 4rem;
    }

    .footer_left {
        gap: 1rem;
        padding-bottom: 1.5rem;
    }

    .footer_nav {
        text-align: center;
    }

    .scroll-top {
        left: 50%;
        transform: translateX(-50%);
        width: 7.75rem;
        height: 7.75rem;
        font-size: 5.25rem;
        top: -13%;
    }

    .small-video-wrapper {
        gap: 20px;
        padding: 20px 0;
    }

    .video_container h3 {
        font-size: 24px;
        line-height: 30px;
        padding: 20px;
    }

}
